{{>header}}
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h1>{{title}}</h1>
    <img src="./img/rock-n-roll-monkey-FTfjMijq-Ws-unsplash.jpeg" alt="Prety Robot" height="300px">
  </div>
</div>
{{>footer}}