{{>header}}
<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-title" id="messageLocation"></p>
				<p class="card-text" id="messageForecast"></p>
				<p class="card-text" id="messageError"></p>
				<form>
					<input type="text" placeholder="Location" id="locationField" />
					<button class="btn-lg btn-outline-primary mt-2" type="submit" value="Search">Get Weather</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{>footer}}
<script src=" ./js/app.js"></script>